@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Default */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color: #1C1C1C;
    color: #FFF;
}

a {
    color: #FFF;
    text-decoration: none;
}

p {
    margin: 0;
}

p+p {
    margin-top: 15px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    margin: 0;
}

img {
    max-width: 100%;
}

.container {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    width: 165px;
    height: 50px;

    font-weight: 500;
    font-size: 16px;

    border-radius: 5px;
    background: #f6762c;

    -webkit-transition: opacity 0.3s;

    -o-transition: opacity 0.3s;

    transition: opacity 0.3s;
}

.btn:hover {
    opacity: 0.8;
}

.btn--small {
    width: 140px;
    height: 40px;
    font-size: 12px;
}

/* Header */

.header {
    padding: 25px 0;

    position: relative;
    z-index: 10;
}

.header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
}

.header__nav a {
    font-size: 14px;
    opacity: 0.7;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.header__nav a.active {
    opacity: 1;
}

.header__nav a:hover {
    opacity: 0.9;
}

/* Welcome section */

.welcome {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 100vh;

    margin-top: -105px;
    padding: 240px 0;

    background-image: url(./images/welcome-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.welcome__text {
    width: 550px;
}

.welcome__subtitle {
    font-size: 14px;
    letter-spacing: 0.1em;
    margin-bottom: 7px;
}

.welcome__title {
    font-size: 58px;
}

.welcome__desc {
    font-size: 18px;
    opacity: 0.7;
    margin: 40px 0;
}

/* Food list */

.food-list {
    padding: 100px 0;
}

.food-list .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 40px 10px;
}

.food-list__card {
    width: 260px;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
    background: #312f30;
}

.food-list__img {
    width: 100%;
    height: 175px;
    -o-object-fit: cover;
    object-fit: cover;
}

.food-list__text-wrapper {
    padding: 30px 20px;
}

.food-list__title {
    font-size: 20px;
    margin-bottom: 12px;
}

.food-list__desc {
    font-size: 16px;
    opacity: 0.7;
}

/* Order section */

.order {
    background: #312f30;
    padding: 60px 0;
}

.order .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 90px;
}

.order__img {
    max-width: 470px;
    -webkit-animation: moveBurger 1.5s infinite alternate ease-in-out;
    animation: moveBurger 1.5s infinite alternate ease-in-out;
}

@-webkit-keyframes moveBurger {
    0% {
        -webkit-transform: none;
        transform: none;
    }

    100% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }
}

@keyframes moveBurger {
    0% {
        -webkit-transform: none;
        transform: none;
    }

    100% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }
}

.order__title {
    font-size: 44px;
    margin-bottom: 25px;
}

.order__text {
    max-width: 360px;
}

.order__desc {
    font-weight: 400;
    opacity: 0.7;
    margin-bottom: 15px;
}

.order__price {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.1em;
    color: #f6762c;
}

.order__price--old {
    letter-spacing: 0.1em;
    text-decoration: line-through;
    color: #f6762c;
    opacity: 0.5;
}

.order__price+.order__price--old {
    margin-left: 3px;
}

.order .btn {
    margin-top: 15px;
}

/* Product section */

.product {
    padding: 150px 0;
}

.product .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.product__card {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 555px;
    min-height: 300px;

    padding: 60px 30px 60px 290px;

    background-color: #3f2d18;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    -webkit-transition: all 0.3s ease-in-out;

    -o-transition: all 0.3s ease-in-out;

    transition: all 0.3s ease-in-out;
    -webkit-transform: translateY(0) scale(1);
    -ms-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);

}

.product__card:hover {

    -webkit-transform: translateY(-10px) scale(1.05);

    -ms-transform: translateY(-10px) scale(1.05);

    transform: translateY(-10px) scale(1.05);
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    z-index: 10;
}

.product__card:nth-child(even) {
    padding-left: 30px;
    padding-right: 250px;
}

.product__title {
    font-size: 30px;
    margin-bottom: 20px;
}

.product__desc {
    font-weight: 400;
    opacity: 0.7;
    margin-bottom: 10px;
}

.product__price {
    font-weight: 500;
    letter-spacing: 0.1em;
    color: #f6762c;
}

.product__price+.product__price--old {
    margin-left: 5px;
}

.product__price--old {
    text-decoration: line-through;
    opacity: 0.5;
}

.product .btn {
    margin-top: 10px;
}

.card-queen {
    background-image: url(./images/product-1.jpg);
}

.card-hut {
    background-image: url(./images/product-2.jpg);
}

.card-king {
    background-image: url(./images/product-3.jpg);
}

.card-papa {
    background-image: url(./images/product-4.jpg);
}

/* Feedback */

.feedback {
    padding-bottom: 200px;
}

.feedback .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    max-width: 880px;
}

.feedback__text {
    margin: 0;
    max-width: 370px;
    text-align: center;
}

.feedback__text::before {
    content: url(./images/icons/quote.svg)
}

.feedback__desc {
    opacity: 0.7;
    margin: 30px 0;
    width: 370px;
}

.feedback__author {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.feedback__subauthor {
    font-size: 12px;
    opacity: 0.7;
    display: block;
}

/* Download */

.download {
    background: #312f30;
    padding: 60px 0;
}

.download .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.download__title {
    font-weight: 500;
    font-size: 40px;
}

/* Footer */

.footer {
    padding: 120px 0;
}

.footer .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
}

.footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.footer__logo {
    width: 70px;
    margin-bottom: 20px;
}

.footer__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    gap: 5px;
}

.footer__link+.footer__link {
    margin-top: 10px;
}

.footer__link::before {
    width: 12px;
    height: 12px;
}

.footer__link-mail::before {
    content: url('./images/icons/mail.svg');
}

.footer__link-web::before {
    content: url('./images/icons/global.svg');
}

.footer a {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.footer a:hover {
    color: rgba(255, 255, 255, 0.9);
}

.footer .footer__title {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    margin-bottom: 15px;
}

.footer__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
}

.footer__list-item+.footer__list-item {
    margin-top: 15px;
}

.footer__socials-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
}


@media (max-width: 1100px) {
    p.welcome__desc {
        opacity: 1;
    }

    .product__card:hover {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }
}

@media (max-width: 950px) {
    .order .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0 15px;
        ;
    }

    .order__text {
        text-align: center;
    }

    .order .btn {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 850px) {
    .welcome .container {
        position: relative;
        z-index: 10;
    }

    .welcome::before {
        content: '';
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 100%;

        position: absolute;
        left: 0;
        top: 0;
    }

    .food-list .container {
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    }

    .footer .container {
        -ms-grid-columns: 1fr 150px 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: 1fr 40px 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "nav nav"
            "contacts socials";
        justify-items: center;
        gap: 40px 150px;
    }

    .footer__contacts {
        grid-area: contacts;
        -ms-grid-column-align: end;
        justify-self: end;
    }

    .footer__nav {
        grid-area: nav;
    }

    .footer__socials {
        grid-area: socials;
        -ms-grid-row-align: center;
        align-self: center;
        -ms-grid-column-align: start;
        justify-self: start;
    }

    .footer__list {
        gap: 80px;
    }

    .feedback {
        padding-bottom: 100px;
    }

    .footer {
        padding: 60px 0;
    }
}

@media (max-width: 850px) {

    .footer__contacts {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .footer__nav {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .footer__socials {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }
}

@media (max-width: 650px) {
    .header .btn {
        display: none;
    }

    .feedback__img {
        width: 200px;
    }

    .download__title {
        font-size: 24px;
    }

    .welcome {
        padding: 200px 0 100px;
        min-height: auto;
    }

    .welcome__text {
        width: 100%;
    }

    .welcome__title {
        font-size: 48px;
    }

    .welcome__desc {
        margin: 20px 0;
    }

    .product {
        padding: 60px 0 100px;
    }

    .product__card {
        width: 100%;

        padding-left: 50%;
    }

    .product__card:nth-child(even) {
        padding-right: 50%
    }

    .feedback__desc {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .header .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 10px;
    }

    .header__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 10px;
    }

    .welcome {
        margin-top: -250px;
        padding-top: 280px;
        padding-bottom: 80px;
        position: relative;
    }

    .welcome__title {
        font-size: 30px;
    }

    .welcome__desc {
        font-size: 12px;
    }

    .food-list {
        padding: 60px 0;
    }

    .order__title {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .order__img {
        width: 100%;
    }

    .feedback .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .feedback,
    .product {
        padding-bottom: 60px;
    }

    .download .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 20px;
    }

    .footer .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }

    .footer__contacts {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .footer__socials-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .footer__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 20px;
    }

    .footer .footer__title {
        margin-bottom: 10px;
    }

    .footer__list-item+.footer__list-item {
        margin-top: 7px;
    }

    .footer__logo {
        margin-bottom: 10px;
    }

    .feedback__author {
        font-size: 18px;
    }

    .feedback__desc {
        margin: 20px 0;
        font-size: 14px;
    }

    .product__card {
        padding-left: 30px;
    }

    .product__card:nth-child(even) {
        padding-right: 30px;
    }

    .product__desc {
        opacity: 1;
    }

    .product__card {
        position: relative;

        text-align: center;
    }

    .product .btn {
        margin-left: auto;
        margin-right: auto;
    }

    .product__card>* {
        position: relative;
        z-index: 10;
    }

    .product__card::before {
        content: '';
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;

        position: absolute;
        left: 0;
        top: 0;
    }
}